In [1]:
from abc import ABC, abstractmethod
import os
import pandas as pd
import geopandas as gpd
import glob
import rasterio
from pathlib import Path
import sdmxthon
from lxml import etree
from tqdm import tqdm
from typing import Callable, Union

In [4]:
land_use = gpd.read_file("/Volumes/ExFAT2/bike_svi/data/external/cities/Montreal/control_variables/land_use/graffectations.geojson")

In [5]:
land_use.columns

Index(['AFFECTATIO', 'Shape_Leng', 'Shape_Area', 'geometry'], dtype='object')

In [6]:
# calculate area of each land use type
land_use["area"] = land_use["geometry"].area
# rename land use types
land_use["land_use"] = land_use["AFFECTATIO"].replace({
    'Conservation': 'lu_others',
    'Dominante résidentielle': 'lu_residential_community',
    'Industrie': 'lu_commerce_developped',
    'Grande emprise ou grande infrastructure publique': 'lu_commerce_developped',
    'Activités diversifiées': 'lu_commerce_developped',
    'Agricole': 'lu_others',
    'Grand espace vert ou récréation': 'lu_others',
    "Centre-ville d'agglomération": 'lu_commerce_developped'})

In [7]:
land_use

,AFFECTATIO,Shape_Leng,Shape_Area,geometry,area,land_use
0,Conservation,1695.955767,5.352411e+04,"MULTIPOLYGON (((277922.927 5041703.496, 277922...",5.352411e+04,lu_others
1,Conservation,4955.704915,2.815585e+05,"MULTIPOLYGON (((278155.001 5041935.998, 278160...",2.815585e+05,lu_others
2,Conservation,980.766489,1.611968e+04,"MULTIPOLYGON (((279560.597 5041556.912, 279561...",1.611968e+04,lu_others
3,Dominante résidentielle,160392.282573,8.256952e+07,"MULTIPOLYGON (((276676.135 5038836.719, 276676...",8.256952e+07,lu_residential_community
4,Industrie,5692.136199,1.936439e+06,"MULTIPOLYGON (((292906.691 5043390.729, 292916...",1.936439e+06,lu_commerce_developped
...,...,...,...,...,...,...
389,Dominante résidentielle,1349.229272,5.893811e+04,"MULTIPOLYGON (((297128.101 5055785.090, 297140...",5.893811e+04,lu_residential_community
390,Grand espace vert ou récréation,587.929533,1.018238e+04,"MULTIPOLYGON (((300683.000 5058463.184, 300656...",1.018238e+04,lu_others
391,Dominante résidentielle,2097.576949,1.842303e+05,"MULTIPOLYGON (((300915.957 5034660.676, 300928...",1.842303e+05,lu_residential_community
392,Activités diversifiées,1152.570611,5.240486e+04,"MULTIPOLYGON (((298905.419 5036288.560, 298904...",5.240486e+04,lu_commerce_developped
393,Industrie,1708.492741,4.251472e+04,"MULTIPOLYGON (((301211.650 5042192.673, 301211...",4.251472e+04,lu_commerce_developped

In [8]:
import csv

with open("/Volumes/ExFAT2/bike_svi/data/external/cities/Montreal/control_variables/population/98-400-X2016003_ENG_CSV/98-400-X2016003_English_CSV_data.csv", "r") as file:
    csv_reader = csv.reader(file)
    rows = []
    for i, row in enumerate(csv_reader):
        if i < 100:
            rows.append(row)
        else:
            break

    column_widths = [max(len(cell) for cell in column) for column in zip(*rows)]
    header = ['Column ' + str(i + 1) for i in range(len(rows[0]))]

    # Print column headers
    for i, width in enumerate(column_widths):
        print(header[i].ljust(width), end=' | ')
    print()

    # Print grid separator
    for width in column_widths:
        print('-' * width, end=' | ')
    print()

    # Print rows
    for row in rows:
        for i, width in enumerate(column_widths):
            print(row[i].ljust(width), end=' | ')
        print()

Column 1       | Column 2       | Column 3  | Column 4 | Column 5 | Column 6          | Column 7      | Column 8     | Column 9                                         | Column 10                                              | Column 11                                          | Column 12                                 | Column 13                          | Column 14                            |
-------------- | -------------- | --------- | -------- | --- | ----------------- | ------------- | ------------ | ------------------------------------------------ | ------------------------------------------------------ | -------------------------------------------------- | ----------------------------------------- | ---------------------------------- | ------------------------------------ |
﻿"CENSUS_YEAR" | GEO_CODE (POR) | GEO_LEVEL | GEO_NAME | GNR | DATA_QUALITY_FLAG | CSD_TYPE_NAME | ALT_GEO_CODE | DIM: Age (in single years) and average age (127) | Member ID: Age (in single years) and average age (127) | Notes: Age (in single years) and average age (127) | Dim: Sex (3): Member ID: [1]: Total - Sex | Dim: Sex (3): Member ID: [2]: Male | Dim: Sex (3): Member ID: [3]: Female |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | Total - Age                                      | 1                                                      |                                                    | 35151730                                  | 17264200                           | 17887530                             |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 0 to 14 years                                    | 2                                                      |                                                    | 5839570                                   | 2992920                            | 2846645                              |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 0 to 4 years                                     | 3                                                      |                                                    | 1898790                                   | 973030                             | 925755                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | Under 1 year                                     | 4                                                      |                                                    | 369730                                    | 189085                             | 180650                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 1                                                | 5                                                      |                                                    | 372615                                    | 190905                             | 181715                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 2                                                | 6                                                      |                                                    | 378880                                    | 193935                             | 184945                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 3                                                | 7                                                      |                                                    | 386200                                    | 198610                             | 187585                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 4                                                | 8                                                      |                                                    | 391365                                    | 200495                             | 190870                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 5 to 9 years                                     | 9                                                      |                                                    | 2018130                                   | 1034685                            | 983445                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 5                                                | 10                                                     |                                                    | 394530                                    | 202495                             | 192035                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 6                                                | 11                                                     |                                                    | 405995                                    | 208145                             | 197850                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 7                                                | 12                                                     |                                                    | 409045                                    | 209855                             | 199195                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 8                                                | 13                                                     |                                                    | 409835                                    | 209795                             | 200040                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 9                                                | 14                                                     |                                                    | 398720                                    | 204400                             | 194325                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 10 to 14 years                                   | 15                                                     |                                                    | 1922650                                   | 985200                             | 937445                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 10                                               | 16                                                     |                                                    | 389160                                    | 199335                             | 189825                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 11                                               | 17                                                     |                                                    | 383870                                    | 197005                             | 186865                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 12                                               | 18                                                     |                                                    | 387115                                    | 198125                             | 188990                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 13                                               | 19                                                     |                                                    | 379935                                    | 194645                             | 185290                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 14                                               | 20                                                     |                                                    | 382570                                    | 196095                             | 186475                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 15 to 64 years                                   | 21                                                     |                                                    | 23376530                                  | 11576130                           | 11800400                             |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 15 to 19 years                                   | 22                                                     |                                                    | 2026155                                   | 1039215                            | 986945                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 15                                               | 23                                                     |                                                    | 388205                                    | 199405                             | 188795                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 16                                               | 24                                                     |                                                    | 401315                                    | 205865                             | 195445                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 17                                               | 25                                                     |                                                    | 400230                                    | 205295                             | 194940                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 18                                               | 26                                                     |                                                    | 410695                                    | 209810                             | 200890                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 19                                               | 27                                                     |                                                    | 425710                                    | 218840                             | 206870                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 20 to 24 years                                   | 28                                                     |                                                    | 2242695                                   | 1144495                            | 1098200                              |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 20                                               | 29                                                     |                                                    | 441415                                    | 225450                             | 215960                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 21                                               | 30                                                     |                                                    | 446890                                    | 229080                             | 217815                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 22                                               | 31                                                     |                                                    | 444890                                    | 227560                             | 217330                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 23                                               | 32                                                     |                                                    | 451225                                    | 230065                             | 221165                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 24                                               | 33                                                     |                                                    | 458270                                    | 232340                             | 225935                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 25 to 29 years                                   | 34                                                     |                                                    | 2285990                                   | 1144470                            | 1141520                              |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 25                                               | 35                                                     |                                                    | 466390                                    | 236065                             | 230320                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 26                                               | 36                                                     |                                                    | 468045                                    | 235500                             | 232540                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 27                                               | 37                                                     |                                                    | 453435                                    | 227260                             | 226180                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 28                                               | 38                                                     |                                                    | 445990                                    | 221410                             | 224585                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 29                                               | 39                                                     |                                                    | 452125                                    | 224235                             | 227890                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 30 to 34 years                                   | 40                                                     |                                                    | 2329395                                   | 1148290                            | 1181110                              |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 30                                               | 41                                                     |                                                    | 464495                                    | 230595                             | 233895                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 31                                               | 42                                                     |                                                    | 465690                                    | 230235                             | 235455                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 32                                               | 43                                                     |                                                    | 467060                                    | 230275                             | 236785                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 33                                               | 44                                                     |                                                    | 465970                                    | 228745                             | 237230                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 34                                               | 45                                                     |                                                    | 466185                                    | 228440                             | 237745                               |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 35 to 39 years                                   | 46                                                     |                                                    | 2288370                                   | 1118635                            | 1169730                              |
2016           | 01             | 0         | Canada   | 4.0 | 20000             |               | 01           | 35                                               | 47                                                     |                                                    | 468365                                    | 229640                             | 238725                               |

In [2]:
count_station_year = pd.read_csv("/Volumes/ExFAT2/bike_svi/data/external/cities/Montreal/count_station_year.csv")
count_station = pd.read_csv("/Volumes/ExFAT2/bike_svi/data/external/cities/Montreal/count_station.csv")
# join count_station_year with count_station
count_station_year = count_station_year.merge(count_station[["count_point_id", "latitude", "longitude"]], on="count_point_id", how="left")
# convert count_station_year to geodataframe
count_station_year = gpd.GeoDataFrame(count_station_year, geometry=gpd.points_from_xy(count_station_year.longitude, count_station_year.latitude)).\
    set_crs(epsg=4326)

In [12]:
# join count_station_year with count_station
# take 500m from the count station
utm_crs = count_station_year.estimate_utm_crs()
count_station_year_utm = count_station_year.to_crs(utm_crs)
count_station_year_utm["geometry"] = count_station_year_utm.buffer(500)
land_use = land_use.to_crs(utm_crs)
# spatial join count_station_year_utm with landuse_2016
count_land_use = gpd.sjoin(count_station_year_utm, land_use,
                            how="left", op="intersects").reset_index()

# group by count_point_id, year, and land_use
count_land_use = count_land_use.groupby(["count_point_id", "year", "land_use"], as_index=False).\
    agg({"area": "sum"})
    
# pivot table
count_land_use = count_land_use.pivot_table(index=["count_point_id", "year"], columns="land_use", values="area").reset_index()

# fill NaN with 0
count_land_use = count_land_use.fillna(0)

# calculate total area and divide land use area by total area
count_land_use["total_area"] = count_land_use.iloc[:, 2:].sum(axis=1)
count_land_use.iloc[:, 2:] = count_land_use.iloc[:, 2:].div(count_land_use["total_area"], axis=0)
count_land_use = count_land_use.drop(columns="total_area")
count_land_use

/Users/koichiito/opt/anaconda3/envs/bike_svi_arm/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3318: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

land_use,count_point_id,year,lu_commerce_developped,lu_others,lu_residential_community
0,725.0,2008,0.741401,0.000000,0.258599
1,726.0,2008,0.736189,0.000000,0.263811
2,728.0,2008,0.976817,0.000000,0.023183
3,729.0,2008,0.016281,0.023038,0.960680
4,731.0,2008,0.016281,0.023038,0.960680
...,...,...,...,...,...
5666,10125.0,2023,0.000000,0.000000,1.000000
5667,10126.0,2023,0.096337,0.000000,0.903663
5668,10127.0,2023,0.000000,0.008528,0.991472
5669,10128.0,2023,0.000000,0.000000,1.000000
5670,10129.0,2023,0.011862,0.000000,0.988138

In [11]:
count_land_use

land_use,count_point_id,year,lu_commerce_developped,lu_others,lu_residential_community
0,725.0,2008,2.616135e+07,0.000000e+00,9.125027e+06
1,726.0,2008,2.546425e+07,0.000000e+00,9.125027e+06
2,728.0,2008,6.460641e+06,0.000000e+00,1.533320e+05
3,729.0,2008,1.411764e+06,1.997697e+06,8.330193e+07
4,731.0,2008,1.411764e+06,1.997697e+06,8.330193e+07
...,...,...,...,...,...
5666,10125.0,2023,0.000000e+00,0.000000e+00,8.330193e+07
5667,10126.0,2023,8.880540e+06,0.000000e+00,8.330193e+07
5668,10127.0,2023,0.000000e+00,7.165197e+05,8.330193e+07
5669,10128.0,2023,0.000000e+00,0.000000e+00,4.335544e+07
5670,10129.0,2023,5.204637e+05,0.000000e+00,4.335544e+07

In [8]:
import concurrent.futures
import pandas as pd
from tqdm import tqdm
from ohsome import OhsomeClient
from tenacity import retry, stop_after_attempt

@retry(stop=stop_after_attempt(3))
def fetch_poi_data(client, bcircles, year):
    return client.elements.count.post(
        bcircles=bcircles,
        time=f"{str(year)}-01-01",
        filter="amenity=* and type:node"
    )

def fetch_poi(row, buffer, client):
    result = {}
    try:
        response = fetch_poi_data(client, [row.longitude, row.latitude, buffer], row.year)
        response_df = response.as_dataframe().reset_index()
        poi_num = response_df["value"][0]
        result["poi"] = poi_num
    except Exception as e: 
        print(e)
    return result

def retrieve_poi(count_station, buffer = 500, output_folder="."):
    client = OhsomeClient()
    print("Ohsome client has been initialized")
    print(f"Earliest date available is {client.start_timestamp} and latest is {client.end_timestamp}")
    tqdm.pandas()
    
    results = {}
    # Using ThreadPoolExecutor to parallelize the process
    with concurrent.futures.ThreadPoolExecutor() as executor:
        futures = {executor.submit(fetch_poi, row, buffer, client): row for row in count_station.itertuples()}
        for future in tqdm(concurrent.futures.as_completed(futures), total=len(futures)):
            row = futures[future]
            try:
                data = future.result()
                results[row.Index] = data
            except Exception as exc:
                print(f"Generated an exception: {exc}")

    # Convert results to DataFrame and save as csv
    df = pd.DataFrame.from_dict(results, orient='index')
    df.to_csv(os.path.join(output_folder, "poi.csv"), index=False)

In [9]:
# just for testing: use the first 10 rows
df = retrieve_poi(count_station_year[:100], buffer=500, output_folder=".")

Ohsome client has been initialized
Earliest date available is 2007-10-08T00:00:00Z and latest is 2023-06-04T20:00Z

100%|██████████| 100/100 [00:21<00:00,  4.76it/s]

In [21]:
import os
import rasterio
import geopandas as gpd
import pandas as pd
import numpy as np
import richdem as rd
import concurrent.futures
from shapely.geometry import Point

# load data ---------------------------------------------------------------
root_dir = "/Volumes/ExFAT/bike_svi"
dem_path = os.path.join(root_dir, "data/external/cities/London/gis_variables/slope/LIDAR_10m_DTM_Composite_2019/LIDAR_10m_DTM_Composite.tif")
count_station_path = os.path.join(root_dir, "data/external/cities/London/count_station.csv")

dem = rasterio.open(dem_path)
count_station = pd.read_csv(count_station_path)

# create geopandas GeoDataFrame
geometry = [Point(xy) for xy in zip(count_station['longitude'], count_station['latitude'])]
count_station = gpd.GeoDataFrame(count_station, geometry=geometry)
count_station = count_station.set_crs("EPSG:4326")
count_station = count_station.to_crs("EPSG:3857")
count_station['geometry'] = count_station.geometry.buffer(500)

# compute slope -----------------------------------------------------------
dem_arr = dem.read(1)
rd_arr = rd.rdarray(dem_arr, no_data=dem.nodata)
slope = rd.TerrainAttribute(rd_arr, attrib='slope_riserun')

# Define function to calculate mean slope for a station
def calculate_mean_slope(geom):
    with rasterio.open(dem_path) as src:
        out_image, _ = rasterio.mask.mask(src, [geom], crop=True)
        out_image = rd.rdarray(out_image[0], no_data=src.nodata)
        slope = rd.TerrainAttribute(out_image, attrib='slope_riserun')
    return np.nanmean(slope)

# Calculate mean slope for each station in parallel using ThreadPoolExecutor
with concurrent.futures.ThreadPoolExecutor() as executor:
    slope_means = list(executor.map(calculate_mean_slope, count_station.geometry))

count_station['slope'] = slope_means

# save --------------------------------------------------------------------
count_station = count_station.drop(columns=['geometry'])
count_station.to_csv(os.path.join(root_dir, "data/processed/cities/London/slope.csv"), index=False)

poi    6.0
dtype: float64

In [10]:
import numpy as np
from osgeo import gdal
from tqdm import tqdm

def calculate_slope(DEM):
    """Calculate slope of DEM using Horn's method."""
    # Padded DEM for boundary conditions
    padded_DEM = np.pad(DEM, ((1, 1), (1, 1)), mode='edge')

    # Calculate dz/dx and dz/dy
    dzdx = (padded_DEM[2:, 1:-1] - padded_DEM[:-2, 1:-1] +
            2*(padded_DEM[2:, 2:] - padded_DEM[:-2, 2:]) +
            padded_DEM[2:, :-2] - padded_DEM[:-2, :-2]) / 8

    dzdy = (padded_DEM[1:-1, 2:] - padded_DEM[1:-1, :-2] +
            2*(padded_DEM[2:, 2:] - padded_DEM[:-2, 2:]) +
            padded_DEM[:-2, 2:] - padded_DEM[:-2, :-2]) / 8

    # Calculate slope
    slope = np.arctan(np.sqrt(dzdx**2 + dzdy**2)) * 180 / np.pi
    return slope

# Open the DEM
ds = gdal.Open("/Volumes/ExFAT2/bike_svi/data/external/cities/Montreal/gis_variables/slope/cdem_dem_031H_tif/cdem_dem_031H.tif")
band = ds.GetRasterBand(1)

# Convert to numpy array
DEM = band.ReadAsArray().astype(float)

# Calculate the slope
slope = calculate_slope(DEM)

# Save the slope array as a new GeoTIFF
driver = gdal.GetDriverByName("GTiff")
outdata = driver.Create("/Volumes/ExFAT2/bike_svi/data/external/cities/Montreal/gis_variables/slope/cdem_dem_031H_tif/slope.tif", DEM.shape[1], DEM.shape[0], 1, gdal.GDT_Float32)
outdata.SetGeoTransform(ds.GetGeoTransform())
outdata.SetProjection(ds.GetProjection())
outdata.GetRasterBand(1).WriteArray(slope)
outdata.GetRasterBand(1).SetNoDataValue(-9999)
outdata.FlushCache()
outdata = None

In [3]:
# clean count station data ------------------------------------------------
import pandas as pd
import geopandas as gpd
import numpy as np
import os
from pathlib import Path
from shapely.geometry import Point

# load data ---------------------------------------------------------------
root_dir = "/Volumes/ExFAT2/bike_svi"
count_station_path = os.path.join(root_dir, "data/external/cities/Montreal/count_station_clean.csv")
count_station = pd.read_csv(count_station_path)

# get unique pairs of latitude and longitude
count_station_new = count_station.drop_duplicates(subset=["latitude", "longitude"])

# rename the old count_point_id column
count_station = count_station.rename(columns={"count_point_id": "count_point_id_old"})

# create a new id column
count_station_new["count_point_id"] = np.arange(len(count_station_new))

# merge the two dataframes
count_station = count_station_new[["count_point_id", "latitude", "longitude"]].merge(count_station, on=["latitude", "longitude"], how="left")
print(count_station)

      count_point_id   latitude  longitude  count_point_id_old
0                  0  45.496564 -73.581729                8800
1                  0  45.496564 -73.581729                8801
2                  0  45.496564 -73.581729                8802
3                  0  45.496564 -73.581729                8803
4                  0  45.496564 -73.581729                8886
...              ...        ...        ...                 ...
5666            2535  45.519849 -73.618085               10024
5667            2536  45.531073 -73.559558               10112
5668            2536  45.531073 -73.559558               10116
5669            2537  45.474434 -73.653928               10125
5670            2538  45.518044 -73.699216               10129

[5671 rows x 4 columns]

In [ ]:
import os
import glob
from tqdm import tqdm

folder_path = '/Volumes/ExFAT2/bike_svi/data/raw/cities/London/gsv_panorama'
file_list = glob.glob(os.path.join(folder_path, "*"))

# Create a progress bar
progress_bar = tqdm(file_list, desc="Deleting files", unit="file")

for file_path in progress_bar:
    try:
        os.remove(file_path)
        progress_bar.set_postfix({"File": file_path}, refresh=True)
    except Exception as e:
        print("Error while deleting file : ", file_path, " Error: ", str(e))

progress_bar.close()

Deleting files: 0file [00:00, ?file/s]

In [10]:
# check pixel_ratios.csv
import pandas as pd
df = pd.read_csv("/Volumes/ExFAT2/bike_svi/data/raw/cities/London_temp/pixel_ratios.csv")
# check if the sum of all the columns is 1
max(df.iloc[:, 1:].sum(axis=1)-1)

0.0

In [13]:
import pandas as pd
import osmnx as ox
import geopandas as gpd

# left join pids.csv with pixel_ratios.csv
count_station = pd.read_csv("/Volumes/ExFAT2/bike_svi/data/external/cities/London/count_station_clean.csv")
# convert count_station to geopandas geodataframe from longitude and latitude
count_station = gpd.GeoDataFrame(count_station, geometry=gpd.points_from_xy(count_station.longitude, count_station.latitude), crs="EPSG:4326")
# change to utm projection with osmnx 
count_station["geometry"] = ox.projection.project_gdf(count_station).buffer(100).to_crs(epsg=4326)
# save as shp
count_station.to_file("/Volumes/ExFAT2/bike_svi/data/external/cities/London/count_station_clean.shp")

/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1682454888.py:12: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  count_station.to_file("/Volumes/ExFAT2/bike_svi/data/external/cities/London/count_station_clean.shp")

In [16]:
from pathlib import Path
dir_temp = Path("/Volumes/ExFAT2/bike_svi/data/raw/cities/London_temp")

In [22]:
import numpy as np
# read in pixel_ratios.csv
pids = pd.read_csv(dir_temp / "gsv_pids.csv")[["panoid", "year", "lat", "lon"]]
pixel_ratios = pd.read_csv(dir_temp / "pixel_ratios.csv")
# calculate visual complexity (i.e. entropy): ∑𝑖=1𝑘𝑃𝑖×ln(𝑃𝑖)ln(𝑘)
pixel_ratios["visual_complexity"] = -1 * pixel_ratios.iloc[:, 1:].apply(lambda row: np.sum([val * np.log(val) if val > 0 else 0 for val in row]), axis=1) / np.log(len(pixel_ratios.columns[1:]))
pids_pixel_ratios = pd.merge(pids, pixel_ratios, left_on="panoid", right_on="filename_key", how="left").drop(columns=["panoid", "filename_key"])
# convert pids_pixel_ratios to geopandas geodataframe from longitude and latitude
pids_pixel_ratios = gpd.GeoDataFrame(pids_pixel_ratios, geometry=gpd.points_from_xy(pids_pixel_ratios.lon, pids_pixel_ratios.lat), crs = "EPSG:4326")
# spatial join pids_pixel_ratios with count_station #TODO: check if this is correct (count_station first or pids_pixel_ratios first)
pids_pixel_ratios = gpd.sjoin(pids_pixel_ratios, count_station, how="left", op="within")
# aggregate all the columns except for count_point_id and year
pids_pixel_ratios = pids_pixel_ratios.groupby(["count_point_id", "year"]).agg("mean").reset_index()
pids_pixel_ratios

/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/105081643.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios = pids_pixel_ratios.groupby(["count_point_id", "year"]).agg("mean").reset_index()

,count_point_id,year,lat,lon,Bird,Curb,Fence,Road,Building,Lane Marking - General,...,Service Lane,CCTV Camera,Phone Booth,On Rails,Caravan,Other Rider,visual_complexity,index_right,latitude,longitude
0,6000,2008.0,51.587352,-0.237858,0.010193,0.000264,0.000000,0.502321,0.003957,0.010989,...,0.000000,NaN,0.0,NaN,NaN,NaN,0.296531,3581.0,51.587519,-0.237953
1,6000,2009.0,51.587113,-0.237354,0.002382,0.006763,0.009914,0.460853,0.072462,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,0.331262,3581.0,51.587519,-0.237953
2,6000,2012.0,51.587241,-0.237740,0.066046,0.002744,0.010334,0.273375,0.016386,0.009070,...,0.006691,NaN,0.0,NaN,NaN,NaN,0.379853,3581.0,51.587519,-0.237953
3,6000,2014.0,51.587268,-0.237715,0.001418,0.002070,0.036966,0.325155,0.016795,0.010155,...,NaN,NaN,0.0,0.0,NaN,NaN,0.382015,3581.0,51.587519,-0.237953
4,6000,2015.0,51.587222,-0.237353,0.002452,0.001648,0.015989,0.307525,0.028636,0.004622,...,0.000000,0.0,0.0,0.0,0.0,NaN,0.387496,3581.0,51.587519,-0.237953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31540,999994,2019.0,51.368109,-0.108768,0.003503,0.007057,0.044197,0.332627,0.000659,0.022223,...,0.000000,NaN,NaN,NaN,0.0,NaN,0.374480,0.0,51.368788,-0.108731
31541,999994,2020.0,51.368460,-0.108966,0.003389,0.012004,0.029772,0.314545,0.020865,0.020318,...,0.000000,0.0,0.0,0.0,NaN,NaN,0.392050,0.0,51.368788,-0.108731
31542,999994,2021.0,51.368592,-0.108908,0.006957,0.012187,0.025649,0.311626,0.029908,0.012644,...,0.000000,0.0,0.0,0.0,NaN,NaN,0.377797,0.0,51.368788,-0.108731
31543,999994,2022.0,51.368654,-0.108993,0.002326,0.012510,0.031840,0.312189,0.024029,0.019424,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.389029,0.0,51.368788,-0.108731
31544,999994,2023.0,51.368122,-0.108863,0.007167,0.010372,0.046300,0.322657,0.000899,0.017476,...,0.000000,0.0,0.0,0.0,NaN,NaN,0.354771,0.0,51.368788,-0.108731

In [44]:
import numpy as np
# read in pixel_ratios.csv
pids = pd.read_csv(dir_temp / "gsv_pids.csv")[["panoid", "year", "lat", "lon"]]
pixel_ratios = pd.read_csv(dir_temp / "pixel_ratios.csv").fillna(0)
# calculate visual complexity (i.e. entropy): ∑𝑖=1𝑘𝑃𝑖×ln(𝑃𝑖)ln(𝑘)
pixel_ratios["visual_complexity"] = -1 * pixel_ratios.iloc[:, 1:].apply(lambda row: np.sum([val * np.log(val) if val > 0 else 0 for val in row]), axis=1) / np.log(len(pixel_ratios.columns[1:]))
pids_pixel_ratios = pd.merge(pids, pixel_ratios, left_on="panoid", right_on="filename_key", how="left").drop(columns=["panoid", "filename_key"])
# convert pids_pixel_ratios to geopandas geodataframe from longitude and latitude
pids_pixel_ratios = gpd.GeoDataFrame(pids_pixel_ratios, geometry=gpd.points_from_xy(pids_pixel_ratios.lon, pids_pixel_ratios.lat), crs = "EPSG:4326")
# spatial join pids_pixel_ratios with count_station by year
pids_pixel_ratios_all_year = []
for years in pids_pixel_ratios.year.unique():
    pids_pixel_ratios_year = pids_pixel_ratios[pids_pixel_ratios.year == years]
    pids_pixel_ratios_year = gpd.sjoin(count_station, pids_pixel_ratios_year, how="left", op="intersects")
    # aggregate all the columns except for count_point_id and year
    pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
    pids_pixel_ratios_all_year.append(pids_pixel_ratios_year)
pids_pixel_ratios_all_year = pd.concat(pids_pixel_ratios_all_year)
# check the sum of all the columns
pids_pixel_ratios_all_year.iloc[:, 7:-1].sum(axis=1).max()

/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()
/Users/koichiito/opt/anaconda3/envs/bike_svi/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3448: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/bg/91sx9x5x33j4mhkjd6nhgkdc0000gn/T/ipykernel_93444/1403099664.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pids_pixel_ratios_year = pids_pixel_ratios_year.groupby(["count_point_id", "year"]).agg("mean").reset_index()

1.0000000000000002

In [38]:
# Normalize the values so they sum to 1 for each row
pids_pixel_ratios_all_year.iloc[:, 7:] = pids_pixel_ratios_all_year.iloc[:, 7:].\
    div(pids_pixel_ratios_all_year.iloc[:, 7:].sum(axis=1), axis=0).fillna(0)

In [43]:
pids_pixel_ratios_all_year.iloc[:, 7:].columns

Index(['Bird', 'Curb', 'Fence', 'Road', 'Building', 'Lane Marking - General',
       'Sky', 'Vegetation', 'Pole', 'Traffic Sign (Front)', 'Car',
       'Ego Vehicle', 'Wall', 'Sidewalk', 'Person', 'Terrain', 'Barrier',
       'Motorcyclist', 'Billboard', 'Motorcycle', 'Mountain', 'Street Light',
       'Bicycle', 'Bus', 'Truck', 'Guard Rail', 'Traffic Light', 'Catch Basin',
       'Other Vehicle', 'Bridge', 'Snow', 'Junction Box', 'Trash Can',
       'Utility Pole', 'Parking', 'Manhole', 'Traffic Sign (Back)',
       'Lane Marking - Crosswalk', 'Car Mount', 'Bike Lane', 'Rail Track',
       'Bicyclist', 'Boat', 'Banner', 'Water', 'Curb Cut', 'Pothole',
       'Traffic Sign Frame', 'Sand', 'Bike Rack', 'Crosswalk - Plain',
       'Ground Animal', 'Wheeled Slow', 'Mailbox', 'Pedestrian Area', 'Tunnel',
       'Fire Hydrant', 'Bench', 'Trailer', 'Service Lane', 'CCTV Camera',
       'Phone Booth', 'On Rails', 'Caravan', 'Other Rider',
       'visual_complexity'],
      dtype='object')

In [51]:

import csv
with open('/Volumes/ExFAT2/bike_svi/data/interim/cities/London/count_pixel_ratios.csv', 'r') as file:
    reader = csv.reader(file)
    for i, row in enumerate(reader):
        if i == 10:
            break
        print(row)

['count_point_id', 'year', 'ss_bird', 'ss_curb', 'ss_fence', 'ss_road', 'ss_building', 'ss_lane_marking_general', 'ss_sky', 'ss_vegetation', 'ss_pole', 'ss_traffic_sign_front', 'ss_car', 'ss_ego_vehicle', 'ss_wall', 'ss_sidewalk', 'ss_person', 'ss_terrain', 'ss_barrier', 'ss_motorcyclist', 'ss_billboard', 'ss_motorcycle', 'ss_mountain', 'ss_street_light', 'ss_bicycle', 'ss_bus', 'ss_truck', 'ss_guard_rail', 'ss_traffic_light', 'ss_catch_basin', 'ss_other_vehicle', 'ss_bridge', 'ss_snow', 'ss_junction_box', 'ss_trash_can', 'ss_utility_pole', 'ss_parking', 'ss_manhole', 'ss_traffic_sign_back', 'ss_lane_marking_crosswalk', 'ss_car_mount', 'ss_bike_lane', 'ss_rail_track', 'ss_bicyclist', 'ss_boat', 'ss_banner', 'ss_water', 'ss_curb_cut', 'ss_pothole', 'ss_traffic_sign_frame', 'ss_sand', 'ss_bike_rack', 'ss_crosswalk_plain', 'ss_ground_animal', 'ss_wheeled_slow', 'ss_mailbox', 'ss_pedestrian_area', 'ss_tunnel', 'ss_fire_hydrant', 'ss_bench', 'ss_trailer', 'ss_service_lane', 'ss_cctv_camera', 'ss_phone_booth', 'ss_on_rails', 'ss_caravan', 'ss_other_rider', 'ss_visual_complexity']
['6000', '2022.0', '0.012883500355045933', '0.0032658925870569537', '0.012786981536120881', '0.39183131659903175', '0.0037825049423589586', '0.01409196853637691', '0.3525844318110768', '0.10464743870060614', '0.0014551907050899928', '0.00010750933391290486', '0.0056866320168099315', '0.0', '0.006946773063845734', '3.985660832102683e-05', '8.23416360994634e-06', '0.0026183942469154707', '0.03269318836491278', '3.257611902748445e-05', '4.756741407440732e-05', '6.270990139100489e-05', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0007358760368533098', '0.0', '0.0', '0.0', '0.04690948346766025', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0011715423770067147', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '4.547398264815122e-05', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.005564957130246041', '0.0', '0.0', '0.0', '0.0', '0.0', '0.3455038253204618']
['6001', '2022.0', '0.012782077320286439', '0.0024029465972399957', '0.0013533850185206656', '0.35469002801863875', '7.272939212986311e-05', '0.012990967172091082', '0.4100379670252565', '0.08443556066419253', '0.001907461979350065', '0.00019565175791255273', '0.0034736218999643384', '0.0', '4.6057779280864755e-05', '0.0003818918447025484', '0.0', '0.007893480238367266', '0.013649397209042388', '0.0', '1.4176134203299999e-05', '0.0', '0.0', '0.0', '0.0', '0.0', '0.001263630194742164', '0.012684161545800345', '0.0', '1.0838274095878688e-05', '0.0', '0.04357303556848741', '0.0', '6.867236778383606e-06', '0.0', '6.197319656121614e-05', '0.0', '0.0', '3.752161244877049e-06', '0.0', '0.00035674454735927784', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '6.3669486124e-06', '0.00010012016921746885', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.03560511010592098', '0.0', '0.0', '0.0', '0.0', '0.0', '0.32713116510901685']
['6013', '2022.0', '0.006857750632546116', '0.00924279473044652', '0.02152444666082206', '0.36603408293290574', '0.005369975350119831', '0.00932155955921515', '0.3599880218505859', '0.15836622064763847', '0.0016365744850851893', '0.00028755881569600725', '0.005527192896062636', '0.0', '0.0015179720791903364', '0.008363186229359', '3.035285256125455e-05', '0.016493537209250675', '0.01687799800526009', '4.508278586647273e-06', '0.00011394674127751635', '9.129264137959999e-06', '0.0', '0.0', '0.0', '2.7881969105112727e-05', '0.007186144048517388', '0.0046673254533247275', '0.0001388896595347982', '1.4677914706141817e-05', '0.0', '0.00012832121415571454', '0.0', '3.364736383611454e-05', '0.0', '0.0', '0.0', '0.0', '0.0001484003933993182', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '8.790276267311635e-05', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.34199458173057823']
['6071', '2022.0', '0.005945613703776837', '0.0075902889684303166', '0.017650161821817584', '0.3229039821428122', '0.05568574630108072', '0.03278422109859502', '0.3787385557115692', '0.08764421325368976', '0.004065105595539478', '0.00042093906205952473', '0.01922348356738528', '0.0019244557803439102', '0.013068769395965863', '0.0329226955925066', '0.00012704514965568043', '1.3459589063506765e-05', '0.008553622924175445', '0.00010635434966726084', '0.0016648253214727753', '0.0023331642150878854', '0.0', '2.3625560642515467e-05', '4.825886991834845e-05', '0.0002296732873031753', '0.0014511776953628269', '0.0001399590797031031', '0.00042428675386093506', '0.00010864021851844226', '0.0002985246402701145', '0.00016986709280112166', '0.0', '6.802549067231753e-05', '4.066880216303403e-05', '0.0002355329769173804', '0.0015094796406854019', '0.000340938568115233', '4.98171934147433e-05', '0.0', '0.0008558243820347732', '0.0', '0.0', '0.0', '0.0', '2.5341191242650514e-05', '0.0', '0.0', '0.0', '0.0', '0.0005732221701710494', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '4.0432841507429896e-05', '0.0', '0.0', '0.368860279767633']
['6075', '2022.0', '0.00959717058667946', '0.010401954837873824', '0.009700831244973552', '0.3080265755746878', '0.09287816402958886', '0.06240906434900616', '0.35036296003005085', '0.0796731079325956', '0.004909342410517626', '0.000296784382240435', '0.016467510485181577', '0.003639903723024854', '0.0007361898235246226', '0.0328442255655924', '0.0009068928512872251', '6.429821837181961e-05', '5.12786940032353e-05', '7.333475000717746e-05', '0.003055450963038987', '0.000244500590305698', '0.0', '3.106921326880098e-05', '0.00017182032267252254', '0.006474714653164723', '0.003768238366818886', '0.0', '0.0003923855575860578', '0.00012959685980104609', '0.0004331504597383373', '0.0', '0.0', '5.835645339068137e-05', '0.00011188843671013137', '0.0', '0.0', '1.5071794098498038e-05', '1.7488704008213724e-05', '9.558715072332353e-05', '0.0', '0.0018713754766127638', '0.0', '3.8315268123849994e-05', '0.0', '4.167650260177255e-05', '0.0', '9.723738128063725e-06', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.3818654019729475']
['6076', '2022.0', '0.005757416997637021', '0.00799723182405741', '0.005808242729731949', '0.3507741689682007', '0.03948049034391126', '0.007153962339673694', '0.42495550428118023', '0.05562376124518253', '0.0021628652300153027', '0.0004857608250209171', '0.029854953289031937', '0.003584274223872593', '0.01927491596766877', '0.020372263022831467', '0.0002503820828029', '0.010652218546186133', '0.011037945747375471', '3.640992300850714e-05', '0.00033767734255108747', '0.0002345613070896643', '0.0', '7.663454328262499e-06', '0.0', '0.0007930397987365696', '0.0014201232365199411', '2.3765223366873212e-05', '9.017331259591072e-06', '0.00011446646281650892', '0.0', '0.0', '0.0', '0.00012801374707903035', '0.00017366239002771967', '0.00042709282466342317', '0.0', '0.0003865190914698964', '0.0001528859138488732', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '6.967782974243035e-05', '0.0', '0.0', '5.069800785609643e-05', '0.0', '0.0', '0.0', '0.0', '3.334454127720357e-05', '0.0', '0.0', '0.0', '0.0', '0.0003309079578944607', '4.411595208304107e-05', '0.0', '0.0', '0.0', '0.0', '0.0', '0.3465030441832888']
['6077', '2022.0', '0.004209367852461919', '0.004984755265085294', '0.004562779476768063', '0.37225580215454096', '0.0001812232168097105', '0.015095459787469118', '0.38509770443564967', '0.13643006274574676', '0.002464595593904158', '0.0004112344039113789', '0.008699668081183136', '0.0', '0.0021437343798185525', '0.000897708692048721', '0.0', '0.04081578003732777', '0.00539992984972501', '3.272608706825263e-05', '5.483627319335789e-05', '0.00018252824482163684', '0.0', '3.285157053093684e-05', '0.0', '0.002635554263466279', '0.0016678508959318316', '0.006383670003790574', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '4.44211457905e-05', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.005315755542955895', '0.0', '0.3346289889700193']
['6094', '2022.0', '0.004951865584761964', '0.010893901189168253', '0.01001810144495077', '0.3394335022679082', '0.10779108824553309', '0.022295386702926034', '0.20441986896373604', '0.22506963765179666', '0.0030416382683647577', '0.00034657231083621486', '0.007580350946497', '0.0', '0.008838282691107839', '0.04054081881487807', '0.0007510450151231333', '0.0007316889586271945', '0.0037608676486545057', '4.146717212818148e-05', '0.0010496245490179963', '0.0002926102390995685', '0.0', '8.178640294957592e-05', '0.00010603445547597982', '0.0002301887229636815', '0.0023933075092456907', '0.0', '0.00029926829867892225', '0.0', '0.0026628441280788814', '0.0', '1.8658461394133335e-05', '6.294250488280926e-05', '0.00020932268213342409', '0.0', '0.0', '0.0002227800863760463', '7.128715515136296e-05', '0.0', '0.00017648273044162225', '0.0007400777604844833', '0.00042551535147207405', '5.515416463215926e-05', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '2.5493127328377776e-05', '0.0', '0.0', '0.0', '7.747720789026295e-05', '0.0', '0.0', '0.0', '0.00029306058530454077', '0.0', '0.0', '0.0', '0.3813582017883194']
['6095', '2022.0', '0.006674194335937458', '0.009295654296874952', '0.004337902069091772', '0.3028604125976562', '0.1454367065429687', '0.05189588546752927', '0.3301162338256835', '0.07886638641357416', '0.0017717552185058322', '0.000156574249267572', '0.017022209167480415', '0.0', '0.006710433959960924', '0.030616855621337855', '0.00159198760986326', '0.002491607666015612', '0.001700477600097656', '0.0', '0.00157598495483396', '0.0009365653991699121', '0.0', '1.8730163574216e-05', '0.0', '0.001617374420166012', '0.000278835296630856', '0.0', '6.694793701168e-06', '0.000171279907226556', '0.0', '0.0', '0.0', '0.000226421356201168', '0.0006757354736328', '0.00019525527954101203', '0.000723896026611324', '0.0004753303527832', '0.000133857727050776', '5.784988403319999e-05', '0.0009591293334960919', '0.000195217132568356', '0.0', '3.4027099609372e-05', '0.0', '0.0', '0.0', '0.000172538757324216', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.38471878639112944']

In [50]:
import csv
with open('/Volumes/ExFAT2/bike_svi/data/interim/cities/London/count_label_counts.csv', 'r') as file:
    reader = csv.reader(file)
    for i, row in enumerate(reader):
        if i == 10:
            break
        print(row)

['count_point_id', 'year', 'od_building', 'od_fence', 'od_pole', 'od_sky', 'od_traffic_sign_front', 'od_car', 'od_lane_marking_general', 'od_curb', 'od_ego_vehicle', 'od_vegetation', 'od_road', 'od_wall', 'od_sidewalk', 'od_terrain', 'od_person', 'od_barrier', 'od_motorcyclist', 'od_billboard', 'od_motorcycle', 'od_street_light', 'od_bicycle', 'od_mountain', 'od_bus', 'od_truck', 'od_guard_rail', 'od_traffic_light', 'od_catch_basin', 'od_other_vehicle', 'od_snow', 'od_bridge', 'od_junction_box', 'od_trash_can', 'od_utility_pole', 'od_parking', 'od_manhole', 'od_traffic_sign_back', 'od_lane_marking_crosswalk', 'od_car_mount', 'od_bike_lane', 'od_rail_track', 'od_bicyclist', 'od_boat', 'od_banner', 'od_water', 'od_curb_cut', 'od_pothole', 'od_traffic_sign_frame', 'od_sand', 'od_bike_rack', 'od_crosswalk_plain', 'od_ground_animal', 'od_wheeled_slow', 'od_mailbox', 'od_pedestrian_area', 'od_tunnel', 'od_fire_hydrant', 'od_bench', 'od_trailer', 'od_service_lane', 'od_cctv_camera', 'od_bird', 'od_phone_booth', 'od_on_rails', 'od_caravan', 'od_other_rider']
['6000', '2022.0', '0.6829268292682927', '0.5121951219512195', '1.146341463414634', '1.0', '0.2926829268292683', '2.2439024390243905', '1.0', '0.43902439024390244', '0.0', '1.0', '1.0', '0.36585365853658536', '0.024390243902439025', '0.4634146341463415', '0.024390243902439025', '0.975609756097561', '0.07317073170731707', '0.04878048780487805', '0.024390243902439025', '0.0', '0.0', '0.0', '0.0', '0.0', '0.24390243902439024', '0.0', '0.0', '0.0', '0.0', '0.9512195121951219', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.024390243902439025', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.024390243902439025', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.12195121951219512', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
['6001', '2022.0', '0.05737704918032787', '0.07377049180327869', '1.3524590163934427', '1.0', '0.16393442622950818', '1.860655737704918', '0.9180327868852459', '0.26229508196721313', '0.0', '1.0', '0.9836065573770492', '0.01639344262295082', '0.00819672131147541', '0.6147540983606558', '0.0', '0.45901639344262296', '0.0', '0.01639344262295082', '0.0', '0.0', '0.0', '0.0', '0.0', '0.1557377049180328', '0.7049180327868853', '0.0', '0.00819672131147541', '0.0', '0.0', '0.7622950819672131', '0.00819672131147541', '0.0', '0.09016393442622951', '0.0', '0.0', '0.00819672131147541', '0.0', '0.01639344262295082', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.01639344262295082', '0.00819672131147541', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.6557377049180327', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
['6013', '2022.0', '0.4727272727272727', '0.7090909090909091', '1.3272727272727274', '1.0', '0.41818181818181815', '3.109090909090909', '0.8545454545454545', '0.6727272727272727', '0.0', '1.0', '1.0', '0.14545454545454545', '0.4', '0.6909090909090909', '0.03636363636363636', '0.6181818181818182', '0.01818181818181818', '0.10909090909090909', '0.01818181818181818', '0.0', '0.0', '0.0', '0.01818181818181818', '0.2', '0.4727272727272727', '0.12727272727272726', '0.01818181818181818', '0.0', '0.0', '0.03636363636363636', '0.01818181818181818', '0.0', '0.0', '0.0', '0.0', '0.18181818181818182', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.07272727272727272', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
['6071', '2022.0', '1.0', '0.6597938144329897', '2.5463917525773194', '1.0', '0.41237113402061853', '4.690721649484536', '0.8865979381443299', '0.8144329896907216', '0.020618556701030927', '1.0', '1.0', '0.5979381443298969', '0.9278350515463918', '0.020618556701030927', '0.15463917525773196', '0.28865979381443296', '0.08247422680412371', '0.7731958762886598', '0.16494845360824742', '0.041237113402061855', '0.030927835051546393', '0.0', '0.05154639175257732', '0.2268041237113402', '0.041237113402061855', '0.30927835051546393', '0.061855670103092786', '0.041237113402061855', '0.0', '0.030927835051546393', '0.030927835051546393', '0.05154639175257732', '0.14432989690721648', '0.09278350515463918', '0.05154639175257732', '0.061855670103092786', '0.0', '0.010309278350515464', '0.0', '0.0', '0.0', '0.0', '0.010309278350515464', '0.0', '0.0', '0.0', '0.0', '0.020618556701030927', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.010309278350515464', '0.0', '0.0']
['6075', '2022.0', '1.0', '0.5098039215686274', '3.0', '1.0', '0.24509803921568626', '3.8823529411764706', '0.9313725490196079', '0.9313725490196079', '0.029411764705882353', '0.9901960784313726', '0.9705882352941176', '0.058823529411764705', '0.9705882352941176', '0.0392156862745098', '0.6470588235294118', '0.00980392156862745', '0.049019607843137254', '1.9607843137254901', '0.12745098039215685', '0.058823529411764705', '0.09803921568627451', '0.0', '0.4019607843137255', '0.28431372549019607', '0.0', '0.4215686274509804', '0.06862745098039216', '0.049019607843137254', '0.0', '0.0', '0.0196078431372549', '0.06862745098039216', '0.0', '0.0', '0.00980392156862745', '0.00980392156862745', '0.049019607843137254', '0.0', '0.029411764705882353', '0.0', '0.0196078431372549', '0.0', '0.00980392156862745', '0.0', '0.00980392156862745', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
['6076', '2022.0', '1.0', '0.3392857142857143', '1.5535714285714286', '1.0', '0.42857142857142855', '8.589285714285714', '0.5535714285714286', '0.7857142857142857', '0.017857142857142856', '1.0', '1.0', '0.8035714285714286', '0.7142857142857143', '0.8035714285714286', '0.32142857142857145', '0.35714285714285715', '0.05357142857142857', '0.2857142857142857', '0.08928571428571429', '0.05357142857142857', '0.0', '0.0', '0.07142857142857142', '0.26785714285714285', '0.017857142857142856', '0.017857142857142856', '0.05357142857142857', '0.0', '0.0', '0.0', '0.05357142857142857', '0.17857142857142858', '0.17857142857142858', '0.0', '0.07142857142857142', '0.125', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.017857142857142856', '0.0', '0.0', '0.017857142857142856', '0.0', '0.0', '0.0', '0.0', '0.017857142857142856', '0.0', '0.0', '0.0', '0.0', '0.017857142857142856', '0.017857142857142856', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
['6077', '2022.0', '0.21052631578947367', '0.47368421052631576', '1.3157894736842106', '1.0', '0.2631578947368421', '2.8947368421052633', '1.0', '0.631578947368421', '0.0', '1.0', '1.0', '0.21052631578947367', '0.10526315789473684', '1.0', '0.0', '0.3684210526315789', '0.05263157894736842', '0.05263157894736842', '0.21052631578947367', '0.05263157894736842', '0.0', '0.0', '0.10526315789473684', '0.631578947368421', '0.631578947368421', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.05263157894736842', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.15789473684210525', '0.0']
['6094', '2022.0', '1.0', '0.7222222222222222', '1.9074074074074074', '0.9814814814814815', '0.3148148148148148', '1.8888888888888888', '0.9074074074074074', '1.0', '0.0', '1.0', '1.0185185185185186', '0.4074074074074074', '1.0555555555555556', '0.2037037037037037', '0.7962962962962963', '0.14814814814814814', '0.018518518518518517', '0.6851851851851852', '0.09259259259259259', '0.12962962962962962', '0.1111111111111111', '0.0', '0.07407407407407407', '0.12962962962962962', '0.0', '0.18518518518518517', '0.0', '0.037037037037037035', '0.018518518518518517', '0.0', '0.037037037037037035', '0.07407407407407407', '0.0', '0.0', '0.09259259259259259', '0.09259259259259259', '0.0', '0.018518518518518517', '0.018518518518518517', '0.05555555555555555', '0.037037037037037035', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.018518518518518517', '0.0', '0.0', '0.0', '0.037037037037037035', '0.0', '0.0', '0.0', '0.0', '0.037037037037037035', '0.0', '0.0', '0.0']
['6095', '2022.0', '1.0', '0.48', '0.96', '1.0', '0.12', '5.32', '0.8', '0.96', '0.0', '1.0', '1.0', '0.24', '0.88', '0.2', '1.16', '0.04', '0.0', '1.44', '0.32', '0.04', '0.0', '0.0', '0.08', '0.08', '0.0', '0.04', '0.12', '0.0', '0.0', '0.0', '0.08', '0.52', '0.04', '0.08', '0.08', '0.12', '0.08', '0.04', '0.04', '0.0', '0.04', '0.0', '0.0', '0.0', '0.08', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']